@using BooksWeb.Models.Domain

@model IEnumerable<Category>
@{
    ViewData["Title"] = "Index";
}



<div class="container py-2">
    <div class="row pt-3">
        <div class="col-6">
            <h2 class="text-primary">Список категорий</h2>
        </div>
        <div class="col-6 text-end mb-4">
            <a asp-controller="Category" asp-action="Create" class="btn btn-primary"><i class="bi bi-plus-circle"></i> &nbsp; Создать новую категорию</a>
        </div>
    </div>
    <br />

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th style="width: 20%" class="text-bg-secondary">
                    Название категории
                </th>
                <th style="width:20%" class="text-bg-secondary">
                    Номер
                </th>
                <th style="width:20%" class="text-bg-secondary">
                    Дата создания
                </th>
                <th style="width:20%" class="text-bg-secondary">
                    Редактирование
                </th>
                <th style="width:20%" class="text-bg-secondary">
                    Удаление
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                    <td class="text-light">@obj.Name</td>
                    <td class="text-light">@obj.DisplayOrder</td>
                    <td class="text-light">@obj.CreatedDateCategory</td>
                    <td><a asp-controller="Category" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-primary w-100">
                        <i class="bi bi-pencil-square "></i>&nbsp;&nbsp;&nbsp; Редактировать</a></td>
                    <td>
                        <a asp-controller="Category" asp-action="Remove" asp-route-id="@obj.Id" class="btn btn-privary btn-danger w-100">
                        <i class="bi bi-trash"></i> &nbsp;&nbsp;&nbsp;Удалить</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>